<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Ainu.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>Ainu_iOS.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>BE721DAE1BCB6FA300E29868</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BE721DB81BCB6FA300E29868</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BE721DCD1BCB6FCA00E29868</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BE721DD61BCB6FCA00E29868</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BE721DE91BCB700E00E29868</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BE721DF21BCB700E00E29868</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
